#news {
   padding-top: 50px;
   padding-bottom: 50px;
}
.news_title{
   text-transform: uppercase;
   color: #fbbd61;
   font-size: 30px;
   font-weight: 400;
   letter-spacing: 2px;
   margin: 0 70px;
   margin-bottom: 40px;
   padding-bottom: 15px;
   border-bottom: 1px solid rgba(0, 0, 0, .2);
   position: relative;
   
}
.news_title::after{
   content: '';
   height: 3px;
   width: 160px;
   background-image: linear-gradient(to right,#fbbd61,#ec7532);
   position: absolute;
   bottom: -1px;
   left: 0;
}
.news_content{
   margin: 0 70px;
}
.news_img{
   width: 100%;
   padding: 20px;
}
.news_img img{
   width: 100%;
   border-radius: 5px;
}
#comment{
   margin-bottom: 100px;
}

.form-comment {
   margin: 0 auto;
   width: 100%;
   padding: 20px 70px;
   background-color: #ffffff;
   border-radius: 5px;
   /* box-shadow: 10px 10px 40px 20px rgba(0, 0, 0, 0.2); */
   position: relative;
}




.form-comment textarea{
   margin: 20px 0;
   padding: 15px 10px;
   font-size: 15px;
   width: 100%;
   border-radius: 5px;
   border: 1px solid #000000;
}

.form-comment button {
   /* margin-top: 15px;
   margin-bottom: 20px; */
   padding: 10px ;
   font-size: 15px;
   background-color:#fbbd61;
   border: 1px solid #fbbd61;
   border-radius: 5px;
   font-weight: 700;
   cursor: pointer;
   overflow: hidden;
   font-size: 20px;
   transition: all .3s;
   color: #ffffff;
   position: absolute;
   right: 70px;
   
}
.form-comment button:hover{
   color: #000000;
   background-color: #ec7532;
   border: 1px solid #ec7532;
}
