#news {
   padding-top: 50px;
   padding-bottom: 50px;
}

.wrapper_news {
   padding-top: 30px;
   margin: 0 60px;
}
.news_img{
   margin-bottom: 20px;
}

.news_img img {
   width: 100%;
   border-radius: 5px;
}
.news_content h3{
   text-transform: uppercase;
}
.news_title{
   text-transform: uppercase;
   color: #fbbd61;
   font-size: 30px;
   font-weight: 400;
   letter-spacing: 2px;
   margin: 0 70px;
   margin-bottom: 40px;
   padding-bottom: 15px;
   border-bottom: 1px solid rgba(0, 0, 0, .2);
   position: relative;
   
}
.news_title::after{
   content: '';
   height: 3px;
   width: 160px;
   background-image: linear-gradient(to right,#fbbd61,#ec7532);
   position: absolute;
   bottom: -1px;
   left: 0;
}

.readmore{
   color: #ec7532;
   cursor: pointer;
}
.readmore:hover{
   text-decoration: none;
   color: #fbbd61;
}